/.venv/
/data/
/src/pre_build/
/src/pretrained_models/


# Text files with no extension containing tokens
/tokens/google
/tokens/huggingface
/confs/download_configurations_/
/confs/patreon_cookie.txt

/logs/*
/powerbi/
__pycache__

/.idea/
/logs/
confs/patreon_cookie.txt
tokens/patreon

/.*/*
backup_project.ps1
src/test.py
*.log
